<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Xin nghỉ phép</title>

    <link rel="stylesheet" th:href="@{/css/absent/absent-create.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div class="bg-image"></div>

    <div class="layout">

        <!-- SIDEBAR -->
        <div th:replace="~{cms/sidebar/sidebar-employee :: sidebar}"></div>

        <!-- CONTENT -->
        <div class="container-layout">

            <!-- HEADER -->
            <div class="container-header">
                <h1>Xin nghỉ phép</h1>
                <p>Tạo đơn xin nghỉ phép mới</p>
            </div>

            <main class="main-container">

                <!-- FORM CARD -->
                <section class="dashboard-card">

                    <div class="card-header">
                        <h2>Đơn xin nghỉ phép</h2>
                    </div>

                    <div class="card-body">

                        <form class="absent-form" method="post" th:action="@{/attendance/leave/create}" th:object="${createLeaveRequest}">
                            <!-- Date -->
                            <div class="form-grid">

                                <div class="form-group">
                                    <label>Từ ngày</label>
                                    <input type="date"  required>
                                </div>

                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <input type="date"  required>
                                </div>

                            </div>

                            <!-- Lý do -->
                            <div class="form-group">
                                <label>Lý do</label>
                                <textarea  rows="5" placeholder="Nhập lý do xin nghỉ..."
                                    required></textarea>
                            </div>

                            <!-- BUTTON -->
                            <div class="form-actions">
                                <button type="submit" class="btn-primary">
                                    <i class="fa-regular fa-paper-plane"></i>
                                    Gửi đơn
                                </button>

                                <button type="reset" class="btn-secondary">
                                    Reset
                                </button>
                            </div>

                        </form>

                    </div>

                </section>

            </main>
            <!-- FOOTER -->
            <div th:replace="~{cms/layout/footer :: footer}"></div>
        </div>
    </div>



</body>

</html>