<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký - Face ID Attendance</title>
    <link rel="stylesheet" href="/css/layout/footer.css">
</head>

<body>
    <footer>
        <div class="footer-layout">

            <div class="footer-left">
                <h2 class="left-title">Smart Attendance</h2>

                <div class="left-description">
                    Hệ thống điểm danh thông minh bằng nhận diện khuôn mặt,
                    hỗ trợ quản lý sinh viên và giảng viên hiệu quả.
                </div>
            </div>

            <div class="footer-right">
                <div class="right-title">
                    Thông tin liên hệ
                </div>

                <a href="#" class="right-description">
                    Liên hệ với chúng tôi
                </a>

                <a href="#" class="right-description">
                    Báo cáo lỗi
                </a>

                <a href="#" class="right-description">
                    Điều khoản sử dụng
                </a>
            </div>

        </div>

        <div class="footer-bottom">
            © 2026 Smart Attendance. All rights reserved.
        </div>
    </footer>
    
</body>

</html>