
    <header class="header-layout">
        <div class="header-container">

            <div class="header-left">
                <div class="logo-box">
                    <i class="fa-solid fa-camera"></i>
                </div>

                <h3 class="header-title">
                    Smart Attendance
                </h3>
            </div>

            <div class="header-right">

                <div class="theme-toggle">
                    <button class="theme-toggle__btn">
                        <i class="fa-solid fa-moon"></i>
                    </button>
                </div>

                <div class="header-auth">
                    <button class="btn-login">
                        Đăng nhập
                    </button>

                    <button class="btn-register">
                        Bắt đầu ngay
                    </button>
                </div>

            </div>

        </div>
    </header>
