<header class="navbar">
    <div class="container navbar-content">

        <div class="brand">
            <div class="brand-icon">
                <i data-lucide="camera"></i>
            </div>

            <a href= "/"class="brand-name">
                Smart Attendance
            </a>
        </div>

        <div class="navbar-actions">
            <a href="/login" class="nav-link">
                Đăng nhập
            </a>

            <a href="/register" class="nav-btn">
                Bắt đầu ngay
            </a>
        </div>

    </div>
</header>