<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Danh sách tài khoản</title>
    <link rel="stylesheet" th:href="@{/css/account/account-list.css}">

</head>

<body>
    <div class="bg-image"></div>
    <div class="layout">
        <div th:replace="~{cms/sidebar/sidebar-admin :: sidebar}"></div>

        <div class="container-layout">

            <div class="container-header">
                <h1>Danh sach tài khoản</h1>
                <p>Quản lý các tài khoản trong hệ thống</p>
            </div>

            <main class="main-container">
                <section class="dashboard-card">

                    <div class="card-header">
                        <h2>Quản lý người dùng</h2>
                        <button class="add-btn">+ Thêm người dùng</button>
                    </div>

                    <div class="search-box">
                        <input type="text" placeholder="Tìm kiếm người dùng...">
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Người dùng</th>
                                <th>Email</th>
                                <th>Vai trò</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:if="${users == null or users.content.isEmpty()}">
                                <td colspan="5">Chưa có tài khoản nào.</td>
                            </tr>
                            <tr th:each="users : ${users.content}">
                                <td>
                                    <div class="user">
                                        <div class="avatar">A</div>
                                        <strong th:text="${users.fullName()}">Nguyễn Văn A</strong>
                                    </div>
                                </td>
                                <td th:text="${users.email()}">nguyenvana@company.com</td>
                                <td ><span th:text="${users.role()}" class="role">Nhân viên</span></td>
                                <td><span th:text="${users.isActive()} == true?'Hoạt động':'Ngừng hoạt động'" class="status active">Hoạt động</span></td>
                                <td>
                                    <div class="actions">
                                        <button class="icon-btn btn-role">Đổi quyền</button>
                                        <button class="icon-btn lock">🔒</button>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </section>
            </main>
            <!-- FOOTER -->
            <div th:replace="~{cms/layout/footer :: footer}"></div>
        </div>

    </div>


    <div id="accountModal" class="detail-modal">

        <div class="detail-content">

            <div class="detail-header">

                <h2>Thông tin cá nhân</h2>

                <button class="close-btn" onclick="closeAccountDetail()">

                    ✕

                </button>

            </div>

            <div class="detail-body">

                <div class="detail-item">
                    <label>Họ và tên</label>
                    <p id="detailFullName"></p>
                </div>

                <div class="detail-item">
                    <label>Email</label>
                    <p id="detailEmail"></p>
                </div>

                <div class="detail-item">
                    <label>Số điện thoại</label>
                    <p id="detailPhone"></p>
                </div>

                <div class="detail-item">
                    <label>Phòng ban</label>
                    <p id="detailDepartment"></p>
                </div>

                <div class="detail-item">
                    <label>Vai trò</label>
                    <p id="detailRole"></p>
                </div>

                <div class="detail-item">
                    <label>Trạng thái</label>
                    <span id="detailStatus"></span>
                </div>

            </div>

        </div>

    </div>

</body>

</html>