<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký - Face ID Attendance</title>
    <link rel="stylesheet" href="/css/auths/register.css">
</head>

<body>
    <div class="bg-img"></div>
    <div th:replace="~{cms/layout/header :: header}"></div>

    <div class="layout">
        <div class="left">
            <div class="hero-content">
                <h1 class="hero-title">
                    <span class="hero-title-gradient">
                        SMART ATTENDANCE
                    </span>
                    <br>
                    <span class="hero-title-white">
                        SYSTEM
                    </span>
                </h1>

                <p class="hero-description">
                    Tạo tài khoản để sử dụng cá nhân để tối ưu hóa trải nghiệm!
                </p>

            </div>
        </div>
        <div class="card">

            <div class="card-header">
                <h1 class="card-title">Đăng ký tài khoản</h1>
                <p class="card-description">
                    Tạo tài khoản để sử dụng hệ thống điểm danh Face ID
                </p>
            </div>

            <div class="divider"></div>

            <div class="card-body">
                <p class="error-message"></p>

                <!-- form -->
                <form method="post">

                    <div class="auth-group">
                        <label>Username hoặc Email</label>
                        <input type="text" />
                        <div class="error-message"></div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Họ và tên *</label>
                        <input type="text" class="auth-control" placeholder="Nguyễn Văn A" required>
                        <div class="error-message"></div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Email *</label>
                        <input type="email" class="auth-control" placeholder="your.email@company.com" required>
                        <div class="error-message"></div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Số điện thoại *</label>
                        <input type="tel" class="auth-control" placeholder="0901234567" required>
                        <div class="error-message"></div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Mật khẩu *</label>
                        <input type="password" class="auth-control" placeholder="••••••••" required>
                        <div class="error-message"></div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Xác nhận mật khẩu *</label>
                        <input type="password" class="auth-control" placeholder="••••••••" required>
                        <div class="error-message"></div>
                    </div>

                    <button class="auth-btn" type="submit">
                        Đăng ký
                    </button>
                </form>

                <hr style="margin: 1rem 0; opacity: 0.2;" />
                <div class="other-option">
                    <a class="register-link">
                        Đã có tài khoản
                    </a>

                    <a class="forgotPass-link">
                        Quên mật khẩu
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{cms/layout/footer :: footer}"></div>

</body>

</html>