<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký - Face ID Attendance</title>
    <link rel="stylesheet" href="/css/auths/register.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <div class="bg-img"></div>
    <div th:replace="~{cms/layout/header :: header}"></div>

    <div class="layout">
        <div class="left">
            <div class="hero-content">
                <h1 class="hero-title">
                    <span class="hero-title-gradient">
                        SMART ATTENDANCE
                    </span>
                    <br>
                    <span class="hero-title-white">
                        SYSTEM
                    </span>
                </h1>

                <p class="hero-description">
                    Tạo tài khoản để sử dụng cá nhân để tối ưu hóa trải nghiệm!
                </p>

            </div>
        </div>
        <div class="card">

            <div class="card-header">
                <h1 class="card-title">Đăng ký tài khoản</h1>
                <p class="card-description">
                    Tạo tài khoản để sử dụng hệ thống điểm danh Face ID
                </p>
            </div>

            <div class="divider"></div>

            <div class="card-body">
                <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}">
                </div>

                <form th:action="@{/auth/register}" th:object="${registerRequest}" method="post">

                    <div class="auth-group">
                        <label class="auth-label">Tên đăng nhập *</label>
                        <input id="username" type="text" th:field="*{username}" class="auth-control"
                            placeholder="Tên đăng nhập" required />
                        <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                        </div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Họ và tên *</label>
                        <input id="fullName" type="text" th:field="*{fullName}" class="auth-control"
                            placeholder="Nguyễn Văn A" required />
                        <div class="error-message" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">
                        </div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Email *</label>
                        <input id="email" type="email" th:field="*{email}" class="auth-control"
                            placeholder="your.email@company.com" required />
                        <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Mật khẩu *</label>
                        <input id="password" type="password" th:field="*{password}" class="auth-control"
                            placeholder="••••••••" required />
                        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        </div>
                    </div>

                    <div class="auth-group">
                        <label class="auth-label">Xác nhận mật khẩu *</label>
                        <input id="rePassword" type="password" th:field="*{rePassword}" class="auth-control"
                            placeholder="••••••••" required />
                        <div class="error-message" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">
                        </div>
                    </div>

                    <button class="auth-btn" type="submit">
                        Đăng ký
                    </button>
                </form>

                <hr style="margin: 1rem 0; opacity: 0.2;" />
                <div class="other-option">
                    <a href="/auth/login" class="register-link">
                        Đã có tài khoản
                    </a>

                    <a href="/forgotPassword" class="forgotPass-link">
                        Quên mật khẩu
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{cms/layout/footer :: footer}"></div>

</body>

</html>