/* =========================
   FOOTER
========================= */

footer {
    width: 100%;

}

.footer-layout {
    max-width: 1550px;

    margin: 0px;
    padding: 40px 60px 30px 60px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background: var(--bg-card);

    backdrop-filter: blur(12px);

    border-top: 1px solid var(--border);
}

/* =========================
   LEFT
========================= */

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.left-title {
    font-size: 1.8rem;
    font-weight: 700;

    background: linear-gradient(90deg,
            #8b5cf6,
            #b794ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-description {
    color: var(--text-light);
    font-size: 1rem;
    line-height: 1.6;
}

/* =========================
   RIGHT
========================= */

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right-title {
    color: var(--text-white);
    font-size: 1.1rem;
    font-weight: 600;

    margin-bottom: 8px;
}

.right-description {
    text-decoration: none;

    color: var(--text-light);

    transition: .3s;
}

.right-description:hover {
    color: var(--purple-light);
}

/* =========================
   COPYRIGHT
========================= */

.footer-bottom {
    text-align: center;

    padding: 20px;

    color: var(--text-light);
    background-color: #0f172a;
    
    border-top: 1px solid var(--bg-table-06);
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    .footer-layout {
        flex-direction: column;
        gap: 40px;

        padding: 30px 20px;
    }

    .left-title {
        font-size: 1.5rem;
    }
}