/* =========================
   ROOT
========================= */
:root {
    --border: rgba(255, 255, 255, 0.1);

    --text-light: #cbd5e1;

    --indigo: #6366f1;
    --purple: #8b5cf6;
}

/* =========================
   COMMON
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: min(1280px, 92%);
    margin: auto;
}

a {
    text-decoration: none;
}

/* =========================
   NAVBAR
========================= */

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;

    backdrop-filter: blur(20px);
    background: rgba(2, 6, 23, 0.5);

    border-bottom: 1px solid var(--border);
}

.navbar-content {
    height: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand-icon {
    width: 42px;
    height: 42px;

    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        135deg,
        var(--indigo),
        var(--purple)
    );
}

.brand-icon i {
    width: 22px;
    height: 22px;
    color: white;
}

.brand-name {
    font-size: 1.3rem;
    font-weight: 700;

    background: linear-gradient(
        to right,
        #818cf8,
        #c084fc
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-link {
    color: var(--text-light);
    transition: 0.3s;
}

.nav-link:hover {
    color: white;
}

.nav-btn {
    padding: 12px 20px;
    border-radius: 12px;

    color: white;
    font-weight: 600;

    background: linear-gradient(
        to right,
        var(--indigo),
        var(--purple)
    );

    transition: 0.3s;
}

.nav-btn:hover {
    transform: translateY(-2px);
}