<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Danh sách báo cáo</title>
    <link rel="stylesheet" th:href="@{/css/document/document-list.css}">

</head>

<body>
    <div class="bg-image"></div>
    <div class="layout">
        <div th:replace="~{cms/sidebar/sidebar-manage :: sidebar}"></div>

        <div class="container-layout">

            <div class="container-header">
                <h1>Danh sách báo cáo</h1>
                <p>Xem các báo cáo ở đây</p>
            </div>

            <main class="main-container">

                <div class="document-card">

                    <div class="document-container">

                        <table class="document-table">
                            <thead>
                                <tr>
                                    <th>Người chia sẻ</th>
                                    <th>Tiêu đề</th>
                                    <th>Ngày nộp</th>
                                    <th>File đính kèm</th>
                                    <th>Link tài liệu</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>

                                    <td>
                                        Nguyễn Văn A
                                    </td>

                                    <td>
                                        Báo cáo tuần 01
                                    </td>

                                    <td>
                                        15/02/2025
                                    </td>

                                    <td>
                                        <a class=" file-link">
                                            📎 Tải file
                                        </a>

                                        <span>
                                            Không có
                                        </span>
                                    </td>

                                    <td>
                                        <a target="_blank" class="file-link">
                                            🔗 Mở link
                                        </a>

                                        <span>
                                            Không có
                                        </span>
                                    </td>

                                    <td>

                                        <span  class="status-pending">
                                            Chờ duyệt
                                        </span>

                                        

                                    </td>

                                    

                                    <td>

                                        <div class="action-group" >

                                            <form method="post">

                                                <button class="btn btn-success">
                                                    Duyệt
                                                </button>

                                            </form>

                                            <form method="post">

                                                <button class="btn btn-danger">
                                                    Từ chối
                                                </button>

                                            </form>

                                        </div>

                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="pagination">
                        <a class="btn btn-pagination">
                            ← Trước
                        </a>

                        <span>
                            <a></a>
                            <span></span>
                        </span>

                        <a class="btn btn-pagination">
                            Sau →
                        </a>
                    </div>
                </div>

            </main>
            <div th:replace="~{cms/layout/footer :: footer}"></div>

        </div>
    </div>
</body>

</html>