<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/faceID/faceID-list.css}">
</head>

<body>

    <div class="bg-image"></div>
    <div class="layout">
        <!-- SIDEBAR -->
        <div th:replace="~{cms/sidebar/sidebar-manage :: sidebar}"></div>

        <!-- MAIN LAYOUT -->
        <div class="container-layout">

            <!-- HEADER -->
            <div class="container-header">
                <h1>Danh sách face ID</h1>
                <p>Các nhân viên đã đăng kí vào phòng bạn</p>
            </div>

            <!-- =========================
        FACE REGISTER
        ========================== -->
            <main class="main-container">

                <section class="card">

                    <table class="face-table">

                        <thead>
                            <tr>
                                <th>Mã SV</th>
                                <th>Họ tên</th>
                                <th>Face ID</th>
                                <th>Số mẫu</th>
                                <th>Phòng</th>
                                <th>Chi tiết</th>
                                <th>Cập nhật</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td>SV001</td>
                                <td>Nguyễn Văn A</td>
                                <td>#face_001</td>
                                <td>
                                    <span class="sample-badge">
                                        10 / 10
                                    </span>
                                </td>
                                <td>DE214</td>
                                <td>
                                    <button class="detail-btn" onclick="openFaceGallery()">
                                        Xem ảnh
                                    </button>
                                </td>

                                <td>
                                    <button class="detail-btn btn-primary" type="submit">Chấp nhận</button>
                                    <button class="detail-btn btn-secondery" type="submit">Từ chối</button>
                                </td>
                            </tr>

                            <tr>
                                <td>SV002</td>
                                <td>Trần Văn B</td>
                                <td>#face_002</td>
                                <td>
                                    <span class="sample-badge">
                                        7 / 10
                                    </span>
                                </td>
                                <td>DE214</td>


                                <td>
                                    <button class="detail-btn" onclick="openFaceGallery()">

                                        Xem ảnh

                                    </button>
                                </td>
                                <td><button class="detail-btn btn-primary" type="submit">Chấp nhận</button>
                                    <button class="detail-btn btn-secondery" type="submit">Từ chối</button>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </section>
            </main>
            <div th:replace="~{cms/layout/footer :: footer}"></div>


        </div>
    </div>
    <div id="faceGalleryModal" class="face-modal">

        <div class="face-modal-content">

            <div class="face-modal-header">
                <h2>Ảnh Face ID</h2>

                <button class="close-btn" onclick="closeFaceGallery()">
                    ✕
                </button>
            </div>

            <div class="face-gallery">

                <img id="facePreviewImage" src="https://i.pinimg.com/736x/6a/5e/fc/6a5efc25bf7c7603afac79d7046f999c.jpg" alt="Face ID">

            </div>

        </div>

    </div>
    <script>
        function openFaceGallery() {

            document
                .getElementById("faceGalleryModal")
                .classList.add("show");
        }

        function closeFaceGallery() {

            document
                .getElementById("faceGalleryModal")
                .classList.remove("show");
        }

        window.onclick = function (event) {

            const modal =
                document.getElementById("faceGalleryModal");

            if (event.target === modal) {
                closeFaceGallery();
            }
        };

    </script>

</body>

</html>