<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Danh sách thế giới</title>
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard-admin.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <div class="bg-image"></div>
    <div class="layout">
        <div th:replace="~{cms/sidebar/sidebar-role :: sidebar}"></div>

        <div class="container-layout">

            <div class="container-header">
                <h1>Dashboard</h1>
                <p>Chào mừng bạn đã đến với hệ thống của chúng tôi</p>
            </div>

            <main class="main-container">

                <!-- =====================
                OVERVIEW
            ====================== -->
                <section class="admin-overview">

                    <div class="admin-stat-card total-account">
                        <div class="admin-stat-card__header">
                            <span class="admin-stat-card__title">Tổng tài khoản</span>
                            <a class="admin-stat-card__icon">
                                <i class="bi bi-camera-fill"></i>
                            </a> 
                        </div>

                        <div class="admin-stat-card__body">
                            <h2 class="admin-stat-card__number" th:text="${dashboard.totalAccounts()}">53</h2>
                            <p class="admin-stat-card__description">
                                Tất cả tài khoản trong hệ thống
                            </p>
                        </div>
                    </div>

                    <div class="admin-stat-card active-account">
                        <div class="admin-stat-card__header">
                            <span class="admin-stat-card__title">
                                Tài khoản hoạt động
                            </span>
                            <a class="admin-stat-card__icon">
                                <i class="bi bi-person-check-fill"></i>
                            </a>
                        </div>

                        <div class="admin-stat-card__body">
                            <h2 class="admin-stat-card__number" th:text="${dashboard.activeAccounts()}">48</h2>
                            <p class="admin-stat-card__description"
                                th:text="${dashboard.activeRate()} + ' tổng số'">
                                90.6% tổng số
                            </p>
                        </div>
                    </div>

                    <div class="admin-stat-card locked-account">
                        <div class="admin-stat-card__header">
                            <span class="admin-stat-card__title">
                                Tài khoản bị khóa
                            </span>
                            <a class="admin-stat-card__icon">
                                <i class="bi bi-person-dash-fill"></i>
                            </a>
                        </div>

                        <div class="admin-stat-card__body">
                            <h2 class="admin-stat-card__number" th:text="${dashboard.inactiveAccounts()}">5</h2>
                            <p class="admin-stat-card__description"
                                th:text="${dashboard.inactiveRate()} + ' tổng số'">
                                Cần xem xét
                            </p>
                        </div>
                    </div>

                    <div class="admin-stat-card pending-account">
                        <div class="admin-stat-card__header">
                            <span class="admin-stat-card__title">
                                Chờ duyệt
                            </span>
                            <a class="admin-stat-card__icon">
                                <i class="bi bi-person-fill-add"></i>
                            </a>
                        </div>

                        <div class="admin-stat-card__body">
                            <h2 class="admin-stat-card__number" th:text="${dashboard.pendingAccounts()}">7</h2>
                            <p class="admin-stat-card__description"
                                th:text="${dashboard.pendingRate()} + ' tổng số'">
                                Tài khoản mới đăng ký
                            </p>
                        </div>
                    </div>

                    <div class="admin-stat-card uptime-system">
                        <div class="admin-stat-card__header">
                            <span class="admin-stat-card__title">
                                Uptime hệ thống
                            </span>
                            <a class="admin-stat-card__icon">
                                <i class="bi bi-alarm"></i>
                            </a>
                        </div>

                        <div class="admin-stat-card__body">
                            <h2 class="admin-stat-card__number">99.8%</h2>
                            <p class="admin-stat-card__description">
                                Hoạt động ổn định
                            </p>
                        </div>
                    </div>

                    <div class="admin-stat-card today-login">
                        <div class="admin-stat-card__header">
                            <span class="admin-stat-card__title">
                                Đăng nhập hôm nay
                            </span>
                            <p class="admin-stat-card__icon">
                                <i class="bi bi-box-arrow-in-right"></i>
                            </p>
                        </div>

                        <div class="admin-stat-card__body">
                            <h2 class="admin-stat-card__number">142</h2>
                            <p class="admin-stat-card__description">
                                Lượt đăng nhập
                            </p>
                        </div>
                    </div>

                </section>



                <!-- =====================
                QUICK ACTION
            ====================== -->
                <section class="admin-quick-actions">

                    <a href="#" class="admin-action-card">
                        <span class="admin-action-card__badge">7</span>

                        <div class="admin-action-card__icon">
                            <i class="bi bi-person-lock"></i>
                        </div>

                        <h3 class="admin-action-card__title">
                            Quản Lý Tài Khoản
                        </h3>

                        <p class="admin-action-card__description">
                            Thêm, sửa, xóa, khóa tài khoản
                        </p>
                    </a>

                    <a href="#" class="admin-action-card">

                        <div class="admin-action-card__icon">
                            <i class="bi bi-file-earmark-bar-graph-fill"></i>
                        </div>

                        <h3 class="admin-action-card__title">
                            Quản Lý Phân Quyền
                        </h3>

                        <p class="admin-action-card__description">
                            Cấu hình vai trò và quyền hạn
                        </p>
                    </a>

                    <a href="#" class="admin-action-card">

                        <div class="admin-action-card__icon">
                            <i class="bi bi-gear"></i>
                        </div>

                        <h3 class="admin-action-card__title">
                            Cài Đặt Hệ Thống
                        </h3>

                        <p class="admin-action-card__description">
                            Cấu hình chung
                        </p>
                    </a>

                </section>



                <!-- =====================
                CHARTS
            ====================== -->
                <section class="admin-charts">

                    <!-- Pie Chart -->
                    <div class="admin-chart-card">

                        <div class="admin-chart-card__header">
                            <h2>Phân Bố Loại Tài Khoản</h2>
                        </div>

                        <div class="admin-chart-card__body">
                            <canvas id="accountTypeChart"></canvas>
                        </div>

                    </div>


                    <!-- Bar Chart -->
                    <div class="admin-chart-card">

                        <div class="admin-chart-card__header">
                            <h2>Hoạt Động Hệ Thống (6 Tháng)</h2>
                        </div>

                        <div class="admin-chart-card__body">
                            <canvas id="systemActivityChart"></canvas>
                        </div>

                    </div>

                </section>



                <!-- =====================
            RECENT ACTIVITY
            ====================== -->
                <section class="recent-activity">

                    <div class="section-header">
                        <h2>Hoạt Động Gần Đây</h2>
                    </div>

                    <div class="activity-list">

                        <div class="activity-item">

                            <div class="activity-item__left">
                                <span class="activity-dot activity-dot--blue"></span>

                                <span class="activity-content">
                                    <strong>NV007</strong>
                                    Đăng ký tài khoản mới
                                </span>
                            </div>

                            <span class="activity-time">
                                5 phút trước
                            </span>

                        </div>



                        <div class="activity-item">

                            <div class="activity-item__left">
                                <span class="activity-dot activity-dot--green"></span>

                                <span class="activity-content">
                                    <strong>Admin</strong>
                                    Phê duyệt tài khoản NV006
                                </span>
                            </div>

                            <span class="activity-time">
                                1 giờ trước
                            </span>

                        </div>



                        <div class="activity-item">

                            <div class="activity-item__left">
                                <span class="activity-dot activity-dot--yellow"></span>

                                <span class="activity-content">
                                    <strong>NV004</strong>
                                    Đăng nhập thất bại (3 lần)
                                </span>
                            </div>

                            <span class="activity-time">
                                2 giờ trước
                            </span>

                        </div>



                        <div class="activity-item">

                            <div class="activity-item__left">
                                <span class="activity-dot activity-dot--red"></span>

                                <span class="activity-content">
                                    <strong>Admin</strong>
                                    Khóa tài khoản NV003
                                </span>
                            </div>

                            <span class="activity-time">
                                3 giờ trước
                            </span>

                        </div>

                    </div>

                </section>

            </main>
            <div th:replace="~{cms/layout/footer :: footer}"></div>
        </div>
    </div>
    <script th:inline="javascript">
        window.accountTypeChartData = {
            labels: /*[[${dashboard.accountTypeDistribution().![label]}]]*/ [],
            values: /*[[${dashboard.accountTypeDistribution().![count]}]]*/ []
        };
    </script>
<script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script th:src="@{/js/charts/AccountChart.js}"></script>
    <script th:src="@{/js/charts/SystemActivityChart.js}"></script>
</body>

</html>
