<header class="header-layout">
    <div class="header-container">
        <div class="header-left">
            <h3 class="header-title">Smart Attendance</h3>
        </div>
        <div class="header-right">
            <div class="change-light">
                <button>Icon</button>
            </div>
            <div class="header-auth">
                <div class="btn btn-register">Đăng ký</div>
                <div class="btn btn-login">Đăng nhập</div>
            </div>
            <div class="user-dropdown">
                <summary class="user-summary">
                    <span th:text="${#authentication.name}"></span>
                    <span class="arrow">▾</span>
                </summary>

                <div class="dropdown-menu">
                    <a th:href="@{/user/moonblight/change-password}">
                        🔒 Đổi mật khẩu
                    </a>

                    <form th:action="@{/user/moonblight/logout}" method="post">
                        <button type="submit">
                            🚪 Logout
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('click', function (e) {
            const dropdown = document.querySelector('.user-dropdown');

            if (!dropdown.contains(e.target)) {
                dropdown.removeAttribute('open');
            }
        });
    </script>
</header>