<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Thông tin cá nhân</title>

    <link rel="stylesheet" th:href="@{/css/user/user-information.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div class="bg-image"></div>

    <div class="layout">

        <!-- SIDEBAR -->
        <div th:replace="~{cms/sidebar/sidebar-role :: sidebar}"></div>

        <!-- CONTENT -->
        <div class="container-layout">

            <!-- HEADER -->
            <div class="container-header">
                <h1>Thông tin cá nhân</h1>
                <p>Quản lý thông tin tài khoản của bạn</p>
            </div>

            <main class="main-container">

                <div th:if="${param.success}" class="alert-success">Cập nhật thông tin thành công</div>
                <div th:if="${param.error}" class="alert-error">Cập nhật thất bại</div>
                <div th:if="${errorMessage}" class="alert-error" th:text="${errorMessage}"></div>

                <!-- PROFILE CARD -->
                <section class="container-card">

                    <div class="card-header">
                        <h2>Thông tin cá nhân</h2>
                        <button class="btn btn-primary" id="changeInformation">Sửa</button>

                    </div>

                    <div class="card-body">
                        <div class="info-grid">

                            <div class="info-item">
                                <label>Họ và tên</label>
                                <p th:text="${#authentication.principal.fullName}"></p>
                            </div>

                            <div class="info-item">
                                <label>Email</label>
                                <p th:text="${#authentication.principal.email}"></p>
                            </div>

                            <div class="info-item">
                                <label>Số điện thoại</label>
                                <p th:text="${#authentication.principal.phone}">Không có</p>
                            </div>

                            <div class="info-item">
                                <label>Phòng ban</label>
                                <p th:text="${#authentication.principal.department}">Không có   </p>
                            </div>

                        </div>

                    </div>

                </section>

                <!-- CHANGE PASSWORD CARD -->
                <section class="dashboard-card">

                    <div class="card-header">
                        <h2>Đổi mật khẩu</h2>
                    </div>

                    <div class="card-body">

                        <form method="post" th:action="@{/user/change-password}">

                            <div class="form-group">
                                <label>Mật khẩu hiện tại</label>
                                <input type="password" name="oldPassword" required>
                            </div>

                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <input type="password" name="newPassword" required>
                            </div>

                            <div class="form-group">
                                <label>Xác nhận mật khẩu</label>
                                <input type="password" name="confirmPassword" required>
                            </div>

                            <div class="form-actions">

                                <button type="submit" class="btn-primary">
                                    <i class="fa-solid fa-key"></i>
                                    Đổi mật khẩu
                                </button>

                                <button type="reset" class="btn-secondary">
                                    Reset
                                </button>

                            </div>

                        </form>

                    </div>

                </section>

            </main>

            <div th:replace="~{cms/layout/footer :: footer}"></div>

        </div>
    </div>

    <section class="edit-card" id="editInformation">

        <form th:action="@{/user/update-information}" method="post" th:object="${updateUserInformationRequest}" class="edit-form">

            <div class="edit-body">
                <div class="edit-header">
                    <h2>Thông tin cá nhân</h2>
                </div>
                <div class="info-grid">
                    <div class="info-item">
                        <label >Họ và tên</label>
                        <input type="text" name="fullName" th:value="${#authentication.principal.fullName}">
                        <div class="error-message" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
                    </div>
                    <div class="info-item">
                        <label >Email</label>
                        <input type="text" name="email" th:value="${#authentication.principal.email}">
                        <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="info-item">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" th:value="${#authentication.principal.phone}">
                        <div class="error-message" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                    </div>
                    <div class="info-item">
                        <label >Phòng ban</label>
                        <select name="department">
                            <option th:each="dept : ${T(com.attendenceSystem.module.user.entity.enums.Department).values()}"
                                    th:value="${dept.name()}"
                                    th:text="${dept.name()}"
                                    th:selected="${#authentication.principal.department == dept.name()}">
                            </option>
                        </select>
                    </div>
                    <div class="btn-run">
                        <button type="submit" class="btn btn-primary">
                            Cập nhật
                        </button>

                        <button type="button" id="btnClose" class="btn btn-close">
                            Đóng
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </section>
    <!-- FOOTER -->
    <script>
        const btn = document.getElementById("editInformation");
        document.getElementById("changeInformation").onclick = function () {
            btn.style.display = "flex";
        };
        document.getElementById("btnClose").onclick = function () {
            btn.style.display = "none";
        }

        btn.addEventListener("click", function (e) {
            if (e.target === btn) {
                btn.style.display = "none";
            }
        });
    </script>
</body>

</html>
