<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Thông tin cá nhân</title>

    <link rel="stylesheet" th:href="@{/css/user/user-information.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div class="bg-image"></div>

    <div class="layout">

        <!-- SIDEBAR -->
        <div th:replace="~{cms/sidebar/sidebar-role :: sidebar}"></div>

        <!-- CONTENT -->
        <div class="container-layout">

            <!-- HEADER -->
            <div class="container-header">
                <h1>Thông tin cá nhân</h1>
                <p>Quản lý thông tin tài khoản của bạn</p>
            </div>

            <main class="main-container">

                <!-- PROFILE CARD -->
                <section class="container-card">

                    <div class="card-header">
                        <h2>Thông tin cá nhân</h2>
                        <button class="btn btn-primary" id="changeInformation">Sửa</button>

                    </div>

                    <div class="card-body">
                        <div class="info-grid">

                            <div class="info-item">
                                <label>Họ và tên</label>
                                <p>Nguyễn Văn A</p>
                            </div>

                            <div class="info-item">
                                <label>Email</label>
                                <p>abc@gmail.com</p>
                            </div>

                            <div class="info-item">
                                <label>Số điện thoại</label>
                                <p>0987654321</p>
                            </div>

                            <div class="info-item">
                                <label>Phòng ban</label>
                                <p>Phòng Lab 213</p>
                            </div>

                        </div>

                    </div>

                </section>

                <!-- CHANGE PASSWORD CARD -->
                <section class="dashboard-card">

                    <div class="card-header">
                        <h2>Đổi mật khẩu</h2>
                    </div>

                    <div class="card-body">

                        <form method="post" th:action="@{/profile/change-password}">

                            <div class="form-group">
                                <label>Mật khẩu hiện tại</label>
                                <input type="password" name="oldPassword" required>
                            </div>

                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <input type="password" name="newPassword" required>
                            </div>

                            <div class="form-group">
                                <label>Xác nhận mật khẩu</label>
                                <input type="password" name="confirmPassword" required>
                            </div>

                            <div class="form-actions">

                                <button type="submit" class="btn-primary">
                                    <i class="fa-solid fa-key"></i>
                                    Đổi mật khẩu
                                </button>

                                <button type="reset" class="btn-secondary">
                                    Reset
                                </button>

                            </div>

                        </form>

                    </div>

                </section>

            </main>

            <div th:replace="~{cms/layout/footer :: footer}"></div>

        </div>
    </div>

    <section class="edit-card" id="editInformation">

        
            <div class="edit-body">
                <div class="edit-header">
                    <h2>Thông tin cá nhân</h2>
                </div>
                <div class="info-grid">
                    <div class="info-item">
                        <label >Họ và tên</label>
                        <input type="text">
                    </div>
                    <div class="info-item">
                        <label >Tên đăng nhập</label>
                        <input type="text">
                    </div>
                    <div class="info-item">
                        <label >Email</label>
                        <input type="text">
                    </div>
                    <div class="info-item">
                        <label >Số điện thoại</label>
                        <input type="text">
                    </div>
                    <div class="info-item">
                        <label >Bộ phận</label>
                        <input type="text">
                    </div>
                    <div class="btn-run">
                        <button id="btnEdit" class="btn btn-primary">
                            Sửa
                        </button>

                        <button id="btnClose" class="btn btn-close">
                            Đóng
                        </button>
                    </div>
                </div>
            </div>
        
    </section>
    <!-- FOOTER -->
    <script>
        const btn = document.getElementById("editInformation");
        document.getElementById("changeInformation").onclick = function () {
            btn.style.display = "flex";
        };
        document.getElementById("btnClose").onclick = function () {
            btn.style.display = "none";
        }

        btn.addEventListener("click", function (e) {
            if (e.target === btn) {
                btn.style.display = "none";
            }
        });
    </script>
</body>

</html>
