@import url("/css/layout/footer.css");
@import url("/css/sidebar/sidebar.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* ===================================
   ROOT
=================================== */

:root {
    --bg-dark: #171233;
    --bg-card: rgba(15, 23, 42, .65);

    --bg-table: rgba(255, 255, 255, .03);
    --bg-form: rgba(255, 255, 255, .04);
    --bg-table-06: rgba(255, 255, 255, .06);
    --bg-table-015: rgba(255, 255, 255, .15);

    --bg-purple-025:rgba(1, 1, 11, 0.25);

    --border: rgba(255, 255, 255, .08);

    --text-white: #ffffff;
    --text-gray: #94a3b8;
    --text-light: #cbd5e1;

    --indigo-06: rgba(99, 102, 241, .6);
    --indigo-15: rgba(99, 102, 241, .15);
    --indigo-08: rgba(10, 11, 65, 0.08);
    --purple: #8b5cf6;
    --purple-light: #b794ff;
    --pink: #ec4899;
    --blue: #3b82f6;
    --pinl-light: #d68eff;

    --success: rgb(37, 249, 83);
    --warning: #f59e0b;
    --danger: #ef4444;

    --shadow-box: rgba(99, 102, 241, .15);

    --btn-secondary: #334155;
    --btn-secondary-hover: #475569;

    --btn-warning-15: rgba(139, 92, 246, .15);

    --btn-reject-18: rgba(239, 68, 68, .18);
    --btn-reject-15: rgba(239, 68, 68, .15);

    --btn-approv-18: rgba(34, 197, 94, .18);
    --btn-approv-15: rgba(34, 197, 94, .15);
}

/* ===================================
   RESET
=================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

    color: var(--text-white);

    background:
        linear-gradient(135deg,
            #1a1633 0%,
            rgba(188, 163, 237) 50%,
            #191339 100%);
}

.layout {
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.sidebar {
    width: 280px;
    min-width: 280px;

    position: sticky;
    top: 0;
}

/* ===================================
   BACKGROUND
=================================== */

.bg-image {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.bg-image::before {
    content: "";

    position: absolute;
    inset: 0;

    background:
        radial-gradient(circle at top left,
            #1b0f38,
            transparent 80%),
        radial-gradient(circle at bottom right,
            #220d54,
            transparent 80%);
}

/* ===================================
   PAGE
=================================== */


.container-layout {
    max-width: 1580px;
    flex: 1;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* ===================================
   HEADER
=================================== */

.container-header {
    background-color: var(--bg-dark);
    margin-bottom: 32px;
    padding: 15px 20px 15px 15px;
    border-radius: 1px;
    height: 112px;
    border: 0.65px solid var(--shadow-box);
    padding-left: 20px;
    height: 140px;
}

.container-header h1 {
    padding-top: 13px;
    font-size: 1.5rem;
    font-weight: 800;

    margin-bottom: 10px;

    background:
        linear-gradient(to right,
            var(--text-white),
            var(--text-light),
            var(--text-white));

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-header p {
    color: var(--text-gray);
    font-size: 1rem;
}

.main-container {
    padding: 10px 15px 120px 35px;
    min-height: 85vh;
}