[data-theme="light"] {
    --bg-dark: #020617;
    --bg-card: rgba(15, 23, 42, .65);

    --bg-table: rgba(255, 255, 255, .03);
    --bg-form: rgba(255, 255, 255, .04);
    --bg-table-06: rgba(255, 255, 255, .06);
    --bg-table-015: rgba(255, 255, 255, .15);

    --bg-purple-025:rgba(1, 1, 11, 0.25);

    --border: rgba(255, 255, 255, .08);

    --text-white: #ffffff;
    --text-gray: #94a3b8;
    --text-light: #cbd5e1;

    --indigo-06: rgba(99, 102, 241, .6);
    --indigo-15: rgba(99, 102, 241, .15);
    --indigo-08: rgba(10, 11, 65, 0.08);
    --purple: #8b5cf6;
    --purple-light: #b794ff;
    --pink: #ec4899;
    --blue: #3b82f6;
    --pinl-light: #d68eff;

    --success: rgb(37, 249, 83);
    --warning: #f59e0b;
    --danger: #ef4444;

    --shadow-box: rgba(99, 102, 241, .15);

    --btn-secondary: #334155;
    --btn-secondary-hover: #475569;

    --btn-warning-15: rgba(139, 92, 246, .15);

    --btn-reject-18: rgba(239, 68, 68, .18);
    --btn-reject-15: rgba(239, 68, 68, .15);

    --btn-approv-18: rgba(34, 197, 94, .18);
    --btn-approv-15: rgba(34, 197, 94, .15);
}