<div class="sidebar" th:fragment="sidebar">

    <div class="sidebar-header">
        <a href="/" class="logo">
            📷
        </a>

        <div>
            <h2>Smart Attendance</h2>
            <div class="header-description">Quản lý</div>
        </div>
    </div>

    <div class="sidebar-line"></div>

    <ul class="sidebar-menu">

        <li class="sidebar-option">
            <a href="/dashboard/manager" class="sidebar-link">
                <span>📊</span>
                Dashboard
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/attendance" class="sidebar-link">
                <span>🕒</span>
                Quản lý điểm danh
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/faceIDList" class="sidebar-link">
                <span>👤</span>
                Duyệt Face ID
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/attendance/leave" class="sidebar-link">
                <span>📅</span>
                Duyệt nghỉ phép
            </a>
        </li>
        <li class="sidebar-option">
            <a href="/userInformation" class="sidebar-link">
                <span>🪪</span>
                Thông tin cá nhân
            </a>
        </li>
        <!-- <li class="sidebar-option">
            <a href="/changePassword" class="sidebar-link">
                <span>🔒</span>
                Đổi mật khẩu
            </a>
        </li> -->
    </ul>
    <div class="sidebar-line"></div>
    <div class="sidebar-footer">

        <div class="footer-user">
            <div class="avatar"></div>

            <div>
                <h3 th:text="${#authentication.principal.fullName}"></h3>
                <div class="header-description" th:text="${#authentication.principal.role}">
                    Vai trò
                </div>
            </div>
        </div>

        <form th:action="@{/auth/logout}" method="post" class="logout-form">
            <button type="submit" class="logout">
                🚪 Đăng xuất
            </button>
        </form>

    </div>

</div>