<div class="sidebar">

    <div class="sidebar-header">
        <i class="sidebar-icon"></i>
        <h2> Smart Attendance</h2>
        <div class="header-description">Quản lý</div>
    </div>
    <div class="sidebar-line"></div>

    <ul class="sidebar-menu">

        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Dashboard
            </a>
        </li>

        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Quản lý điểm danh
            </a>
        </li>

        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Duyệt nghỉ phép
            </a>
        </li>
        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Duyệt Face ID
            </a>
        </li>
        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Báo cáo tháng
            </a>
        </li>
        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Danh sách báo cáo
            </a>
        </li>
        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Quản lý tài khoản
            </a>
        </li>
        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Quản lý tài khoản
            </a>
        </li>
        <li class="sidebar-option">
            <i class="icon"></i>
            <a class="sidebar-link">
                Thông tin cá nhân
            </a>
        </li>
    </ul>
    <div class="sidebar-line"></div>
    <div class="sidebar-footer">
        <div class="footer-user">
            <i class="sidebar-icon"></i>
            <h3> Smart Attendance</h3>
            <div class="header-description">Nhân viên</div>
        </div>
        <div class="logout">
            <i class="logout-icon"></i>
            <div class="logout-text">Đăng xuất</div>
        </div>
    </div>
</div>