<div class="sidebar" th:fragment="sidebar">

    <div class="sidebar-header">
        <div class="logo">
            📷
        </div>

        <div>
            <h2>Smart Attendance</h2>
            <div class="header-description">Quản lý</div>
        </div>
    </div>

    <div class="sidebar-line"></div>

    <ul class="sidebar-menu">

        <li class="sidebar-option">
            <a href="/dashboardManager" class="sidebar-link">
                <span>📊</span>
                Dashboard
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/attendances" class="sidebar-link">
                <span>🕒</span>
                Quản lý điểm danh
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/faceIDList" class="sidebar-link">
                <span>👤</span>
                Duyệt Face ID
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/absentList" class="sidebar-link">
                <span>📅</span>
                Duyệt nghỉ phép
            </a>
        </li>
        <li class="sidebar-option">
            <a href="/changePassword" class="sidebar-link">
                <span>🔒</span>
                Đổi mật khẩu
            </a>
        </li>
    </ul>
    <div class="sidebar-line"></div>
    <div class="sidebar-footer">

        <div class="footer-user">
            <div class="avatar">N</div>

            <div>
                <h3>Nguyễn Thị B</h3>
                <div class="header-description">Quản lý</div>
            </div>
        </div>

        <a herf="/" class="logout">
            🚪 Đăng xuất
        </a>

    </div>

</div>