<div class="sidebar" th:fragment="sidebar">

    <div class="sidebar-header">
        <a href="/" class="logo">
            📷
        </a>

        <div>
            <h2>Smart Attendance</h2>
            <div class="header-description">Nhân viên</div>
        </div>
    </div>

    <div class="sidebar-line"></div>

    <ul class="sidebar-menu">

        <li class="sidebar-option">
            <a href="/dashboardEmployee" class="sidebar-link">
                <span>📊</span>
                Dashboard
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/attendance/history" class="sidebar-link">
                <span>🕒</span>
                Lịch sử điểm danh
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/attendance/leave/create" class="sidebar-link">
                <span>📅</span>
                Xin nghỉ phép
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/face-id/create" class="sidebar-link">
                <span>👤</span>
                Đăng kí Face ID
            </a>
        </li>
        <li class="sidebar-option">
            <a href="/documentList" class="sidebar-link">
                <span>📝</span>
                Báo cáo được chia sẻ
            </a>
        </li>
        <li class="sidebar-option">
            <a href="/documentCreate" class="sidebar-link">
                <span>📄</span>
                Nộp báo cáo
            </a>
        </li>

        <li class="sidebar-option">
            <a href="/userInformation" class="sidebar-link">
                <span>🪪</span>
                Thông tin cá nhân
            </a>
        </li>
        <!-- <li class="sidebar-option">
            <a href="/changePassword" class="sidebar-link">
                <span>🔒</span>
                Đổi mật khẩu
            </a>
        </li> -->
    </ul>

    <div class="sidebar-line"></div>

    <div class="sidebar-footer">

        <div class="footer-user">
            <div class="avatar">
                <i class="bi bi-person-circle"></i>
            </div>

            <!-- <div>
                <h3 th:text="${#authentication.principal.fullName}"></h3>
                <div class="header-description" th:text="${#authentication.principal.role}">
                    Vai trò
                </div>
            </div> -->
            <div>
                <h3>Nguyen van an</h3>
                <div class="header-description">
                    Nhân viên
                </div>
            </div>
        </div>

        <form th:action="@{/auth/logout}" method="post" class="logout-form">
            <button type="submit" class="logout">
                🚪 Đăng xuất
            </button>
        </form>

    </div>
    <script>
        const links = document.querySelectorAll(".sidebar-link");
        const currentPath = window.location.pathname;

        links.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
            }
        });
    </script>
</div>